<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tulos</title>
    <link rel="stylesheet" href="tyylit.css" type="text/css">
</head>

<body>
    <main>
        <h1>Haetut tiedot:</h1>
        <div class="kentat">
            <p><span class="selite">kukanTunniste:</span> <%= kukka.kukanTunniste %></p>
            <p><span class="selite">laji:</span> <%= kukka.laji %></p>
            <p><span class="selite">viljelija:</span> <%= kukka.viljelija %></p>
            <p><span class="selite">lukumaara:</span> <%= kukka.lukumaara %></p>
            <p><span class="selite">kasvupaikka:</span> <%= kukka.kasvupaikka %></p>
        </div>
        <a class="nappi" href="/">Valikkoon</a>
    </main>
</body>

</html>